.pagination {
  &__list {
    display: flex;
    width: 260px;
    justify-content: space-between;
  }

  &__buttons {
    padding: 4px 6px;
    font-weight: 600;

    &:hover {
      color: var(--secondary);
    }

    border-radius: 8px;
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;

    &--active {
      background-color: var(--white);
      color: var(--primary);
      border-color: var(--primary);
      border-radius: 8px;
      font-weight: 600;
    }
  }

  li {
    display: flex;
    align-items: center;

    &:hover {
      color: var(--secondary);
    }
  }
}

@media screen and (min-width: 420px) {
  .pagination {
    &__list {
      display: flex;
      width: 400px;
      justify-content: space-between;
    }

    &__buttons {
      padding: 4px 6px;

      &--active {
        padding: 6px 8px;
        background-color: var(--white);
        color: var(--primary);
        border: 1px solid var(--primary);
      }
    }
  }
}