@import "../../assets/styles/mixins";

.bitcoin {
  border: 2px solid var(--primary);
  vertical-align: middle;
  color: #fff;
  background-color: #191970;
  background-image: url("../../assets/images/bitcoin_background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &__content {
    min-height: 324px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1rem;
    padding: 0 30px;
  }
  &__title {
    @include vertical-center;
    align-items: center;
    margin: 0 auto;
  }
  &__name {
    margin-bottom: 7px;
    font-size: 1.2em;
  }

  &__image {
    width: 25px;
    height: 25px;
  }
  &__table {
    border: 1px solid #fff none;
    border-style: groove;
  }
  &__table-header {
    color: #fff;
    font-size: 0.5em;
  }
  &__table-body {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 926px) and (max-width: 1064px) {
  .bitcoin {
    &__content {
      font-size: 0.8rem;
    }
    &__content {
      padding: 0 10px;
    }
  }
}

@media screen and (min-width: 926px) {
  .bitcoin {
    margin: 0;
    width: 45%;
    &__name {
      font-size: 1.7em;
    }
    &__image {
      width: 45px;
      height: 45px;
    }
    &__table-header {
      font-size: 1em;
    }
    &__table-body {
      font-size: 1rem;
    }
  }
}
@media screen and (max-width: 469px) {
  .bitcoin {
    &__content {
      padding: 0 6px;
    }
  }
}
