@import "@/assets/styles/mixins";

.bitcoin {
  border: 2px solid var(--primary);
  vertical-align: middle;
  color: #fff;
  background-color: #191970;
  background-image: url("../../assets/images/bitcoin_background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 324px;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  @include flex-center;
  @include vertical-center;

  &__title {
    margin: 0 auto;
  }

  &__img {
    width: 35px;
    height: 35px;
  }

  &__table {
    border: 1px solid #fff none;
    border-style: groove;
  }

  &__table-header {
    color: #fff;
    font-size: 0.5em;
  }

  &__table-body {
    font-size: 0.7em;
  }
}

// Media Queries

@media screen and (min-width: 926px) and (max-width: 1064px) {
  .bitcoin {
    font-size: 0.8rem;
    padding: 0 10px;
  }
}

@media screen and (min-width: 926px) {
  .bitcoin {
    margin: 0;
    width: 45%;
    justify-content: space-between;

    &__name {
      font-size: 1.7em;
    }

    &__img {
      width: 45px;
      height: 45px;
    }

    &__table-header {
      font-size: 1em;
    }

    &__table-body {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 469px) {
  .bitcoin {
    padding: 0 6px;

    &__table {
      font-size: 20px;
    }

    &__table-header,
    &__table-body {

      &> :nth-child(4),
      &> :nth-child(5) {
        display: none;
      }
    }
  }
}