.dropdowns-menu {
  height: 100px;
  width: 100%;
  padding: 10px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
  }
  &__select {
    margin: 6px 0 0 6px;
    padding: 2px;
    font-size: 14px;
    font-weight: 600;
    option {
      font-weight: 600;
    }
  }
}
@media screen and (min-width: 769px) {
  .dropdowns-menu {
    height: auto;
    width: 600px;
    label {
      color: #fff;
      font-weight: 600;
      font-size: 20px;
    }
    &__select {
      margin: 0 0 0 20px;
      padding: 6px;
      font-size: 18px;
    }
  }
}
