.dropdowns-menu {
  height: 60px;
  width: 100%;
  color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
  }
  &__select {
    margin: 6px 0 0 6px;
    padding: 2px;
    font-size: 14px;
    font-weight: 600;
    option {
      font-weight: 600;
    }
  }
}
@media screen and (min-width: 769px) {
  .dropdowns-menu {
    height: auto;
    width: 600px;
    padding: 10px;
    &__select {
      margin: 0 0 0 20px;
      padding: 6px;
      font-size: 18px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .dropdowns-menu {
    label {
      font-size: 20px;
    }
  }
}