.crypto-details {
  width: 100%;
  margin: 120px 0px 0px;
  padding-top: 10px;
  height: auto;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  &__back-button {
    height: 40px;
    margin-left: 20px;
    &-button {
      padding: 6px 7px;
      cursor: pointer;
      border-radius: 50%;
      transition: background-color 0.2s, color 0.2s;
      color: var(--primary);
      background-color: white;
      border: 0px;
      font-weight: 600;
      &:hover {
        background-color: #222;
        color: white;
      }
    }
  }
  &__chart {
    width: 94%;
    margin: 0 3%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 926px) {
  .crypto-details {
    width: 100%;
    padding: 20px 30px 0 30px;
    margin: 120px 0px 0px;
    &__back-button {
      &-button {
        padding: 12px 15px;
      }
    }
    &__chart {
      width: 600px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 1300px) {
  .crypto-details {
    &__back-button {
      position: fixed;
      top: 140px;
    }
  }
}
