.nav-bar-items {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  background-color: var(--primary);
  box-shadow: 0 5px 15px (0, 0, 0, 0.25);
  width: calc(100% - 40px);
  height: auto;
  border-radius: 13px;
}

.logo {
  font-size: 1.4rem;
  color: #fff;
  justify-self: start;
  display: flex;
  > span {
    padding-right: 10px;
  }
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.nav-links {
  display: flex;
  text-decoration: none;
  color: #fff;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  &:hover {
    background-color: var(--bg-primary);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }
  > span {
    padding-left: 10px;
  }
}
.menu-icons {
  display: none;
  color: #fff;
}
@media screen and (max-width: 352px) {
  .logo {
    font-size: 1rem;
  }
}

@media screen and (min-width: 926px) {
  .nav-bar-items {
    margin: 20px;
  }
}

@media screen and (max-width: 926px) {
  .nav-bar-items {
    z-index: 99;
    padding: 0 16px;
    height: 60px;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    position: fixed;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--primary);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    backdrop-filter: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    border-radius: 13px;
    top: 0;
    left: -110%;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    &.active {
      left: 0%;
      border: 1px solid #fff;
    }
  }
  .nav-links {
    display: block;
    width: 100%;
    padding: 1rem 0;
    color: var(--primary);
    font-weight: 600;
    z-index: 100;
    color: #fff;
    &:hover {
      background-color: rgba(255, 255, 255, 0.85);
      backdrop-filter: blur(20px);
      color: var(--primary);
    }
  }
  .menu-icons {
    display: block;
    &:hover {
      cursor: pointer;
    }
  }
}
