@import "@/assets/styles/mixins";

.favorites {
  margin-top: 120px;
  &__title {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100vh - 200px);
    overflow-y: auto;
    margin: auto;
  }
  &__empty {
    height: calc(100vh - 200px);
    width: 100%;
    @include vertical-center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
  }
}

@media screen and (min-width: 769px) {
  .favorites {
    margin: 0;
    &__title {
      font-size: 34px;
    }
    &__list {
      justify-content: flex-start;
      margin: 0;
    }
    &__empty {
      font-size: 28px;
    }
  }
}
