@import "@/assets/styles/mixins";

.search-crypto {
  text-align: center;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  &__results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__loader {
    width: 100%;
    height: calc(100vh - 200px);
    @include vertical-center;
  }
  &__title {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
  }
  &__table {
    width: 100%;
    border-spacing: 0 0.1em;
    font-size: 0.6rem;
  }
  &__pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    height: 2rem;
  }
}

@media screen and (min-width: 470px) and (max-width: 925px) {
  .search-crypto {
    padding: 20px;
    &__title {
      font-size: 1.2rem;
    }
    &__table {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 926px) {
  .search-crypto {
    margin-top: 80px;
    &__results {
      flex: 1 1 auto;
    }
  }
}
