.history-chart-container {
  width: 100%;
  background-color: #1a1e2e;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;

  canvas {
    cursor: crosshair;
  }
}

.select-button-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.chartjs-tooltip-highlight circle {
  stroke: gold;
  stroke-width: 3;
  fill: white;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    r: 3;
    opacity: 1;
  }

  50% {
    r: 6;
    opacity: 0.6;
  }

  100% {
    r: 3;
    opacity: 1;
  }
}