.select-button {
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 4px;
  margin: 0 4px;
  font-weight: 600;
  font-size: 12px;
  transition: background-color 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--secondary);
  }

  &--active {
    background-color: var(--secondary);
    color: var(--primary);
  }
}