.page-not-found {
  width: 100%;
  flex: 1 1 auto;
  &__back-button {
    height: 40px;
    margin-left: 30px;
    &-button {
      display: flex;
      padding: 10px;
      cursor: pointer;
      border-radius: 50%;
      transition: background-color 0.2s, color 0.2s;
      color: var(--primary);
      background-color: white;
      border: 0px;
      font-weight: 600;
      &:hover {
        background-color: var(--primary);
        color: white;
      }
    }
  }
  &__title {
    & > h1 {
      color: #fff;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
    }
  }
  &__separator {
    margin: 30px;
  }
}
@media screen and (max-width: 926px) {
  .page-not-found {
    margin-top: 120px;
  }
}

@media screen and (min-width: 926px) {
  .page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__back-button {
      &-button {
        padding: 15px;
      }
    }
    &__title {
      & > h1 {
        color: #fff;
        text-align: center;
        font-size: 34px;
        font-weight: 600;
      }
    }
  }
}
