.coin-details {
  color: #fff;
  width: 90%;
  margin: 30px 5%;
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    > img {
      width: 30px;
    }
  }
  &__title {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    max-width: 90px;
  }
  &__subtitles {
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
  }
  &__description {
    font-size: 0.8rem;
    & > a {
      color: gold;
      text-decoration: none;
      font-weight: 600;
    }
  }
}

@media screen and (min-width: 960px) {
  .coin-details {
    &__header {
      width: 60%;
      > img {
        width: auto;
      }
    }
    &__title {
      font-size: 24px;
      max-width: none;
      font-weight: 600;
    }
    &__subtitles {
      font-size: 20px;
      font-weight: 600;
    }
    &__description {
      font-size: 1rem;
    }
  }
}
