.coin-details {
  width: calc(100% - 20px);
  color: var(--white);
  margin: 10px;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    font-size: 12px;

    >img {
      width: 30px;
    }
  }

  &__title {
    text-transform: capitalize;
    font-weight: 500;
    max-width: 90px;
  }

  &__subtitles {
    text-transform: capitalize;
    font-weight: 500;
  }

  &__description {
    font-size: 12px;
    overflow-x: hidden;

    &>a {
      color: var(--secondary);
      text-decoration: none;
      font-weight: 600;
    }
  }

  &__details {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__statistics {
    margin-bottom: 12px;
    font-size: 12px;

    &-title {
      font-weight: 600;
      font-size: 1.2rem;
      margin-bottom: 12px;
      color: var(--secondary);
    }

    :last-child {
      margin: 0px;
    }
  }
}

@media screen and (min-width: 960px) {
  .coin-details {
    margin: 10px 12px;

    &__header {
      width: 60%;
      font-size: 15px;

      >img {
        width: auto;
      }
    }

    &__details {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }

    &__title {
      font-size: 24px;
      max-width: none;
      font-weight: 600;
    }

    &__subtitles {
      font-size: 20px;
      font-weight: 600;
    }

    &__description {
      max-width: 800px;
      max-height: 120px;
      overflow-y: auto;
      font-size: 1rem;
    }

    &__statistics {
      margin: 0px;
      padding-right: 20px;
      font-size: 1rem;

      &-title {
        font-weight: 600;
        font-size: 24px;
      }
    }
  }
}