.app-container {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  padding: 10px;
  background: var(--bg-dark);
}

@media screen and (min-width: 926px) {
  .app-container {
    height: 100vh;
    padding: 20px;
  }
}