.carousel {
  margin-top: 140px;
  display: flex;
  align-items: center;
}
ul {
  display: flex;
}
.carousel-item {
  display: inline-block;
  width: 100;
  height: 100;
  padding: 0 20px;
  &__link {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    margin-bottom: 40px;
  }
  &__image {
    height: 40px;
    margin-bottom: 10px;
  }
  &__texts,
  &__price {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 926px) {
  .carousel {
    position: fixed;
    margin: 0;
  }
  .carousel-item {
    display: inline-block;
    width: 200;
    height: 200;
    &__link {
      margin: 0;
    }
    &__image {
      height: 60px;
    }
    &__texts,
    &__price {
      font-size: 1rem;
    }
  }
}
